<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleMarketPlaceClient</display-name>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>Servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/view/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sample</display-name>
    <servlet-name>sample</servlet-name>
    <servlet-class>Servlets.sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/view/sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/view/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>Servlets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/view/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertiseProduct</display-name>
    <servlet-name>AdvertiseProduct</servlet-name>
    <servlet-class>Servlets.AdvertiseProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertiseProduct</servlet-name>
    <url-pattern>/view/AdvertiseProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchCategory</display-name>
    <servlet-name>fetchCategory</servlet-name>
    <servlet-class>Servlets.fetchCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchCategory</servlet-name>
    <url-pattern>/view/ProductCatalog1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCatalog1</display-name>
    <servlet-name>ProductCatalog1</servlet-name>
    <servlet-class>Servlets.ProductCatalog1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCatalog1</servlet-name>
    <url-pattern>/view/ProductCatalog1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCatalog</display-name>
    <servlet-name>ProductCatalog</servlet-name>
    <servlet-class>Servlets.ProductCatalog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCatalog</servlet-name>
    <url-pattern>/view/ProductCatalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>Servlets.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/view/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addtocart</display-name>
    <servlet-name>Addtocart</servlet-name>
    <servlet-class>Servlets.Addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addtocart</servlet-name>
    <url-pattern>/view/Addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>Servlets.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/view/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCart</display-name>
    <servlet-name>DisplayCart</servlet-name>
    <servlet-class>Servlets.DisplayCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCart</servlet-name>
    <url-pattern>/view/DisplayCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCart</display-name>
    <servlet-name>RemoveCart</servlet-name>
    <servlet-class>Servlets.RemoveCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCart</servlet-name>
    <url-pattern>/view/RemoveCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCart1</display-name>
    <servlet-name>RemoveCart1</servlet-name>
    <servlet-class>Servlets.RemoveCart1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCart1</servlet-name>
    <url-pattern>/view/RemoveCart1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/view/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>Servlets.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/view/Checkout</url-pattern>
  </servlet-mapping>
</web-app>